{# templates/base.html #}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nairaxi Car Leasing{% endblock title %}</title>
    <link rel="stylesheet" href="{% url 'core:dynamic_colors_css' %}">
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts_css/bonny.css' %}">

<style>
        body { font-family: "Bonny-Regular", sans-serif; }
    </style>
<!-- 
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
            }
        }
    </script> -->

    {% block extra_head %}{% endblock extra_head %}
</head>
<body class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden">
    <div class="layout-container flex h-full grow flex-col">

        {% include 'partials/navbar_nairaxi.html' %}

        <main class="flex-1">
            {% block content %}
            <!-- Page-specific content will go here -->
            {% endblock content %}
        </main>

        {% include 'partials/footer_nairaxi.html' %}
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>